@tailwind base;
@tailwind components;
@tailwind utilities;

.DialogStyling{
  padding-left: 2rem !important;
}

.swiper-button-next{
  color: white !important;
  right: 20px !important;
}
.hide-scrollbars{
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
.hide-scrollbars::-webkit-scrollbar{
  display: none !important;
}
.swiper-button-prev{
  left: 20px !important;
  color: white !important; 
}
@media screen and (max-width : 600px) {
  .swiper-button-next{
    right: 5px !important;
  }
  .swiper-button-prev{
    left: 5px !important;
  }
  .swiper-button-next::after{
    font-size: 20px !important;
  }
  .swiper-button-prev::after{
    font-size: 20px !important;
  }
}

html,
body,
:root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.boyner-gradient-neon {
  background-image: linear-gradient(to right, #fbffe6, #ecfbfa);
}

.boyner-gradient-very-peri {
  background-image: linear-gradient(to right, #eaecf9, #ecfbfa);
}

.text-slide-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.text-slide {
  display: flex;
  width: 200%;
}

.scrolling-text {
  display: inline-block;
  width: 50%;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* This is for the hero section */
.custom-shape-divider-bottom-1693252391 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1693252391 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693252391 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693252391 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the countdown section - Top */

.custom-shape-divider-top-1693337002 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693337002 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1693337002 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1693337002 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the countdown section - Bottom */

.custom-shape-divider-bottom-1693338568 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693338568 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693338568 .shape-fill {
  fill: #eb3e3a;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693338568 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the agenda section - Bottom */

.custom-shape-divider-bottom-1693420332 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693420332 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693420332 .shape-fill {
  fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693420332 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the speakers section - Bottom */

.custom-shape-divider-bottom-1693430661 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693430661 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693430661 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693430661 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the form section - Top */

.custom-shape-divider-top-1693487583 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693487583 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1693487583 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1693487583 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the form section - Bottom */

.custom-shape-divider-bottom-1693493170 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693493170 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693493170 .shape-fill {
  fill: #f49123;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693493170 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

.custom-shape-divider-top-1693497092 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693497092 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1693497092 .shape-fill {
  fill: #f49123;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1693497092 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* This is for the transportation section - Bottom */

.custom-shape-divider-bottom-1693510637 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693510637 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1693510637 .shape-fill {
  fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693510637 svg {
    width: calc(100% + 1.3px);
    height: 0px;
  }
}

/* Slider*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
